.column {
  float: left;
  width: 30%;
  background-color: cyan;
  margin: auto;
  box-sizing: border-box;
  display: block;
  border: 10px solid orange;
  }

img {
  width: 30%;
  margin: auto;
  display: block;
}

h2 {
  background-color: rgba(163, 95, 228, 0.616);
}

.column h2 {
  background-color: cornflowerblue;
  border-top: none;
  border-left: none;
}

.column img {
  float: right;
}
